.cardContent
{
  padding: 24px;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #00000014;
}

.singleStack
{
  justify-content: flex-start;
  flex-shrink: 1;
  max-width: 550px;
}
